@model IEnumerable<CarsHub.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Car.CarModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
