@model CarsHub.Models.Dealer

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutDealer.cshtml";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
     <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DealerId)
        @Html.HiddenFor(model => model.CompanyName)
        @Html.HiddenFor(model => model.Country)
        @Html.HiddenFor(model => model.Province)
        @Html.HiddenFor(model => model.EmailAddress)
        @Html.HiddenFor(model => model.RegistrationNo)
        @Html.HiddenFor(model => model.CompanyAddress)
         @Html.HiddenFor(model => model.OfficePhoneNo)
     
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Profile", "Dashboard")
</div>

    @*<div class="form-horizontal">
        <h4>Dealer</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DealerId)

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName)
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Province, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Province)
                @Html.ValidationMessageFor(model => model.Province)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyAddress)
                @Html.ValidationMessageFor(model => model.CompanyAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress)
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficePhoneNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfficePhoneNo)
                @Html.ValidationMessageFor(model => model.OfficePhoneNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegistrationNo)
                @Html.ValidationMessageFor(model => model.RegistrationNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
