@model CarsHub.Models.Dealer

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDealer.cshtml";
}



<div style="text-align: center;color:royalblue">
    <h2 class="h2-responsive"><u><strong>@Html.DisplayFor(model => model.CompanyName) (Dashboard)</strong></u></h2><br />
</div>

<ul class="list-group" style="color:royalblue">
    <li class="list-group-item">
        <b>@Html.DisplayName("Registration No: ")</b> <span class="pull-xs-right"><strong>@Html.DisplayFor(model => model.RegistrationNo)</strong></span>
    </li>
    <li class="list-group-item">
        <b>@Html.DisplayName("Company Name: ")</b> <span class="pull-xs-right"><strong>@Html.DisplayFor(model => model.CompanyName)</strong></span>
    </li>
    <li class="list-group-item">
        <b>@Html.DisplayName("Country: ")</b> <span class="pull-xs-right"><strong>@Html.DisplayFor(model => model.Country)</strong></span>
    </li>
    <li class="list-group-item">
        <b>@Html.DisplayName("Province: ")</b> <span class="pull-xs-right"><strong>@Html.DisplayFor(model => model.Province)</strong></span>
    </li>
    <li class="list-group-item">
        <b>@Html.DisplayName("Company Address: ")</b> <span class="pull-xs-right"><strong>@Html.DisplayFor(model => model.CompanyAddress)</strong></span>
    </li>
    <li class="list-group-item">
        <b>@Html.DisplayName("Email : ")</b> <span class="pull-xs-right"><strong>@Html.DisplayFor(model => model.EmailAddress)</strong></span>
    </li>
    <li class="list-group-item">
        <b>@Html.DisplayName("Office Contact: ")</b> <span class="pull-xs-right"><strong>@Html.DisplayFor(model => model.OfficePhoneNo)</strong></span>
    </li>
    <li class="list-group-item">
        <b>@Html.DisplayName("Password: ")</b> <span class="pull-xs-right"><strong>@Html.DisplayFor(model => model.Password)</strong></span>
    </li>
</ul>

<p>
    <br />@Html.ActionLink("Change Password", "ChangePassword", new { id = Model.DealerId }, new { @class = "btn btn-primary" })
</p>


